@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap");
@import url("../public/fonts/fontello/css/icons.css");

@import "base/fonts";
@import "base/variables";
@import "bootstrap/scss/bootstrap";

@import "base/page";
@import "components/bio";
@import "components/label";
@import "components/category";
@import "components/post-card";
@import "components/footer";
@import "components/github-markdown";
@import "~highlight.js/styles/github-dark";
@import "components/blog";
@import "components/header";
@import "components/404";