@import '../scss/module-base';

.wrapper {
  position: sticky;
  top: 3em;
  width: $bio-width;
  padding: 2em;
  font-size: 15.5px;
  background: var(--color-section);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--color-section-dark);
  transition: background-color 0.3s;

  @include media-breakpoint-down(md) {
    position: relative;
    top: 1em;
    margin: 1em 0;
    width: 100%;
  }
  @include media-breakpoint-down(xs) {
    padding: 1.5em 1em;
  }
}

.avatarImage {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 20px;

  a {
    color: var(--color-text);
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.3em;

    &:hover {
      color: var(--color-text-dim);
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: var(--color-text-dim);
      outline: none;
      box-shadow: none;
    }
  }
}

.main {
  margin-top: 1em;
}

.text {
  color: var(--color-text);
  font-size: 0.92em;
}

.links {
  margin-top: 1.5em;
  display: flex;
  color: #fff;
  text-align: center;
  max-width: 244px;

  img {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 33px;
  }
}

.link {
  width: 33.3%;
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 30px;
  letter-spacing: 0.5px;

  a {
    color: var(--color-text);
    letter-spacing: 1px;

    &:hover {
      color: var(--color-text-dim);
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: var(--color-gray);
      outline: none;
      box-shadow: none;
    }
  }
}

