@import '../scss/module-base';

.content {
  padding: 0.1em 0;
}

.inner {
  margin-top: 3em;
  text-align: center;
  padding: 1.5em;
  border-top: solid 1px var(--color-section);
  color: var(--color-text);
  font-size: 14px;
  transition: border-color 0.3s, color 0.3s;

  a {
    color: var(--color-text);
    text-decoration: underline;
  }
}
