@import '../scss/module-base';

.header {
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--color-bg);
  border-bottom: solid 1px var(--color-section);
  box-shadow: 0 2px 4px var(--color-header-shadow);
  transition: background-color 0.3s, border-color 0.3s;
}

.inner {
  position: relative;
  font-size: 200%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a,
  h1 {
    color: var(--color-text);
    flex: 1;

    &:hover {
      color: var(--color-text-dim);
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: var(--color-text-dim);
      outline: none;
      box-shadow: none;
    }
  }
}
