@import '../scss/module-base';

.wrapper {
  .text {
    padding: 3px 6px;
    display: inline;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      font-size: 11px;
      padding: 2.5px 6px;
    }
  }
}
