@import '../scss/module-base';

.wrapper {
  .link {
    display: flex;
    align-items: start;
    padding: 1.4em 0;
    color: var(--color-text);
    border-top: solid 1px var(--color-section);
    transition: background-color 0.2s;

    &:hover {
      background: var(--color-section);
      text-decoration: none;
    }

    @include media-breakpoint-down(sm) {
      padding: 1em 0;
    }
  }
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 90px;
  height: 90px;
  background: var(--color-section);
  border-radius: 4px;
  font-size: 50px;

  img {
    width: 55px;
    height: 55px;
  }

  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 70px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.content {
  width: calc(100% - 90px);
  padding-left: 20px;

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4;
  }

  time {
    display: block;
    margin-bottom: 0.2em;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    color: var(--color-gray);
  }

  @include media-breakpoint-down(sm) {
    width: calc(100% - 70px);
    padding-left: 15px;

    h3 {
      font-size: 16.5px;
    }

    time {
      font-size: 12px;
    }
  }
}

.meta {
  display: flex;
  align-items: center;
  gap: 0;

  time {
    display: inline;
    margin-bottom: 0;
  }
}

.readingTime {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: var(--color-gray);
  opacity: 0.8;
}

.excerpt {
  margin: 0.3em 0;
  font-size: 0.85em;
  color: var(--color-gray);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
