/**
 * _404.scss
 * @author [Keisuke Suzuki](https://github.com/ksuzu46)
 */

.notfound {
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
    color: $primary;
  }

  p {
    margin-top: 0.5rem;
    color: $primary;
  }
}