/**
 * _blog.scss
 * @author [Keisuke Suzuki](https://github.com/ksuzu46)
 */

.hero-post {
 padding-bottom: 2rem;
  @include media-breakpoint-down(xs){
    padding-bottom: 1rem;
  }
}

.blog-post-body-wrapper {
  padding-top: 1rem;
}

.blog-post-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @include media-breakpoint-down(xs){
    flex-direction: column;
    padding-bottom: 0;
  }
}

.blog-post-heading {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  color: var(--color-text);
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    padding-bottom: 0;
    align-self: flex-start;
  }
}

.blog-post-heading-date {
  font-size: 1rem;
  color: var(--color-text);
  @include media-breakpoint-down(sm){
    padding: 0;
    font-size: 1rem;
    align-self: flex-end;
  }
}

.blog-post-reading-time {
  margin-left: 0.75em;
  opacity: 0.7;
}

.markdown-body-custom {
  @extend .markdown-body;
  font-size: 1.5rem;
  @include media-breakpoint-down(md){
    font-size: 1.2rem;
  }
  color: var(--color-text);
  font-family: $font-family-sans-serif;
}


