/**
 * _page.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -ms-text-size-adjust: 100%;
  vertical-align: baseline;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body {
  height: 100%;
}
body {
  background: $back-ground;
  color: $primary;
  line-height: 1.6;
  font-size: 100%;
  font-weight: 400;
  font-family: $font-family-sans-serif;
  //-webkit-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  color: $link-color;
  text-decoration: none;
  transition: .2s;
  :focus{
    outline: none;
  }
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}

.content-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $side-space-large;
  @include media-breakpoint-down(sm) {
    max-width: 760px;
  }
  @include media-breakpoint-down(xs) {
    padding: 0 $side-space-small;
  }
}

.content {
  margin-top: 3em;
  display: flex;
  min-height: 85vh;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    margin-top: 2em;
  }
  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.main-wrapper {
  width: calc(100% - #{$bio-width - 40px});
  margin-right: 40px;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
