name: Manually deploy blog-app
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Dependencies
        run: yarn install

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: yarn build

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          AWS_REGION_NAME: ${{ secrets.REGION_NAME }}
        run: |
          echo "AWS s3 sync"
          aws s3 sync --region ${{ secrets.REGION_NAME }} ./out s3://${{ secrets.AWS_S3_BUCKET }} --delete
          echo "AWS CF reset"
          aws cloudfront create-invalidation --region ${{ secrets.REGION_NAME }} --distribution-id ${{ secrets.AWS_CF_ID }} --paths "/*"
